body {
  margin: 0;
}

main {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;

  background: rebeccapurple;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
  color: white;
  text-decoration: none;
}

.red {
  color: red;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  background-color: black;
  /* background-color: rgb(176, 238, 255); */
  height: 50px;
  justify-content: space-around;
  align-items: center;
}
